[submodule "ZaCherno/vendor/spdlog"]
	path = ZaCherno/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ZaCherno/vendor/GLFW"]
	path = ZaCherno/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "ZaCherno/vendor/imgui"]

	path = ZaCherno/vendor/imgui

	url = https://github.com/Zach128/imgui
